:root{
    /*Custom properties*/
   --blanco:#FFFFFF;
   --amarillo:#FFC300; 
   --secundario:#00838F;
   --primario:#0047AB;
   --gris:#757575;
   --negro : #negro;
   --center : center;

}

html{
    font-size: 62.5%;
}
body{
    font-size: 14px; /*1rem = 10px*/
    font-family: cursive;
    
}

.titulo{
    text-align: center; 
    font-size: 2.8rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    margin : 0 auto 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
   
}

.navegacion-principal{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 15rem;
}

.navegacion-principal a{
   color: var(--blanco);
   text-decoration: none;
   font-weight: bold;
   padding: 1rem 0.7rem;
}

.navegacion-principal a:hover{
    background-color: var(--amarillo);
    color: var(--negro);
  
}
