:root{
    /*Custom properties*/
   --blanco:#FFFFFF;
   --amarillo:#FFC300; 
   --secundario:#00838F;
   --primario:#0047AB;
   --gris:#757575;
   --negro : #negro;
   --center : center;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before,*:after{
    box-sizing: inherit;
}

body{
    font-size: 14px; /*1rem = 10px*/
    font-family: cursive;
    
}

h1{
    font-size: 2.5rem;
    font-weight: bold;

}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

h1,h2,h3{
    text-align: center;
}

.titulo{
    text-align: center; 
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin : 0 auto;
}

.boton-contactar{
   margin-top: 2rem;
   margin-left: 4rem;
    background-color: var(--secundario);
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.boton-contactar a{
    color: var(--blanco);
}

.nav-bg{
    background-color: var(--secundario);
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        margin-top: 2rem;
        margin-right: 12rem;
       padding-left: 12rem;
       display: flex;
       margin-bottom: 1rem;
    }

    .boton-contactar{
     
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
   color: var(--blanco);
   text-decoration: none;
   font-weight: bold;
   font-weight: 700;
   font-size: 1.7rem;
   padding: 1rem;
    transition: all .3s ease-in-out;
}

.navegacion-principal a:hover{
    background-color: var(--amarillo);
    color: var(--negro);

}

.logo{
    background-image: url(../img/Tarjeta\ Delante.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 30rem;
    padding: 20rem;
    position: relative;
}

.contenido-logo{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   top: 0;
   background-color: rgba(0,0,0,0.6);
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;

}

.contenido-logo a{
    text-decoration: none;
}

.contenido-logo h2,
.contenido-logo p{
  color: var(--blanco);
}

.logo-ubicacion{
    align-items:flex-end;
    margin-right: 2rem;
}

.contenido-grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.contenido-web{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}